
<% @forms.each do |form| %>
  <% unless form.questions.empty? && !current_user.admin? %>
    <% x = matchAnswers(current_user, form)%>
    <% y = form.questions.count %>

    <p>QCM : <i><%= form.title %></i>, <%= "#{x} / #{y}"%> bonnes réponses.</p>
    <p> Ta note finale est de : <b><%= (x * 20.0 / y).nan? ? "0.0" : (x * 20.0 / y).round(2) %>/20.0</b> pour ce QCM.</p>
  <% end %>
<% end %>
